* {
  direction: rtl;
  font-family: "Shabnam FD", sans-serif;
  text-align: right;
}
/* @font-face {} */
@import url("https://v1.fontapi.ir/css/ShabnamFD");
h4 {
  font-family: "Shabnam FD", sans-serif;
}
.header {
  height: 500px;
  background-image: url("/image/header.jpg");
  background-position: center;
  background-size: cover;
}
.navbar {
  margin-top: 5px;
  border-radius: 5px;
}
.button {
  background-color: #343a40;
  color: white;
  border: none;
}

.badge-warning {
  font-size: larger;
  border-radius: 10px;
}
.img {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}
.card {
  margin: 5px;
  border-radius: 5px;
}

/* ////////card////////////// */

/* /////////card////////// */
